SECRET_KEY=dbd307d0ad37a3fb7b891d91a855c669a4949134c57ec5665333b019e5ac537e
DEBUG=True

### SUPERUSER ###
# Username: admin
# Email address: admin@example.com
# Password: qwerty123456

# Database (lu par settings.py)
DATABASE_NAME=devis_factures_db
DATABASE_USER=django_user_admin
DATABASE_PASSWORD=qwerty12345
DATABASE_HOST=db
DATABASE_PORT=5432

# Database (lu par docker-compose.yml → service db)
POSTGRES_DB=devis_factures_db
POSTGRES_USER=django_user_admin
POSTGRES_PASSWORD=qwerty12345
