SECRET_KEY=dbd307d0ad37a3fb7b891d91a855c669a4949134c57ec5665333b019e5ac537e
DEBUG=True
DATABASE_URL=postgresql://django_user:django_password@db:5432/devis_factures_db

### SUPERUSER ###

# Username: admin
# Email address: admin@example.com
# Password: qwerty123456