SECRET_KEY=ton-secret-key-super-securisee
DEBUG=True
DATABASE_URL=postgresql://django_user:django_password@db:5432/devis_factures_db

### SUPERUSER ###

# Username: admin
# Email address: admin@example.com
# Password: qwerty123456