# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.neon

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

.certif